<nav class="navbar navbar-toggleable-md navbar-light bg-faded bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">{{title}}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="" [routerLink]="['/Home']">Home</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-primary" type="submit">Search</button> 
    </form>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item active">
      	<a *ngIf="!loginService.isAuthenticated()" class="nav-link " href="" [routerLink]="['/user/login']" >Login</a>
        <div *ngIf="loginService.isAuthenticated()" class="dropdown">
          <button class="dropbtn">{{loginService.currentUser.firstName}} {{loginService.currentUser.lastName}}</button>
          <div class="dropdown-content">
            <a href="" [routerLink]="['/user/profile']">Profile</a>
            <a href="">Your Orders</a>
            <a href="">Sign Out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>