<md-card >   
  <md-tab-group  [selectedIndex]="type">
    <md-tab label="Profile">
      <hr>
      <span><b>Name : </b></span>
      {{profileObject?.firstName}} {{profileObject?.lastName}} <br><br>
      <span><b>Username : </b></span>
      {{profileObject?.userName}} <br><br>
      <span><b>Email-ID : </b></span>
      {{profileObject?.userName}}@cisco.com<br><br>
      <span><b>Active Since : </b></span>
      {{activeSince | date}}<br><br>
      <span><b>Last Login : </b></span>
      {{lastLogin | date:'medium'}}<br><br>
      <span><b>Address : </b></span>
       <pre>
        No 67, 6th Main, 13th Cross,
        RajaRam Street, Ram Nagar,
        Bangalore 560043
        Karnataka
        India
      </pre>
      <hr>
    </md-tab>
    <md-tab label="Orders" style="min-height:100%">
      <h3>Yet to order :(</h3>
    </md-tab>
    <md-tab label="Specially For Your" style="min-height:100%">
      <h4>You have 10% discount on any Item you choose Please use below code</h4>
      <h3>ANGULAR</h3>
    </md-tab>
  </md-tab-group>
</md-card>